/* Estilos gerais */
.image-gallery {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-wrap: wrap; /* Permite quebra de linha */
  gap: 20px;
  padding: 20px;
  height: 100vh; /* Garante que o contêiner ocupe toda a tela */
}

/* Ajuste para imagens */
.image-gallery img {
  width: 200px;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/* Efeito ao passar o mouse */
.image-gallery img:hover {
  transform: scale(1.1);
}

/* Layout para telas menores (smartphones) */
@media (max-width: 768px) {
  .image-gallery {
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Mantém as imagens centralizadas */
  }

  .image-gallery img {
    width: 80%;
    max-width: 300px;
  }
}


/* Layout para telas menores (smartphones) */
@media (max-width: 768px) {
  .image-gallery {
    flex-direction: column; /* Deixa as imagens em coluna */
    align-items: center;
  }

  .image-gallery img {
    width: 80%; /* Ajusta a largura */
    max-width: 300px;
  }
}

/* Modal Overlay */
.Modal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

/* Quando o modal está aberto */
.Modal__Overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Conteúdo do modal */
.Modal__Content {
  background-color: white;
  width: 80%;
  max-width: 300px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
  transition: transform 0.3s ease-in-out;
}

/* Quando o modal está aberto */
.Modal__Content.show {
  transform: translateY(0);
}

/* Ajuste do modal para telas menores */
@media (max-width: 480px) {
  .Modal__Content {
    width: 90%;
    max-width: 250px;
    padding: 15px;
  }
}

/* Botão de fechar */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
